
.flag-dropdown-container {
  /* margin: 34px auto; */
  width: 100%;
  background-color: transparent;
}

.flag-dropdown {
  position: relative;
}

.flag-dropdown-divider {
  border-bottom: solid 1px #999;
  margin-left: 10px;
}

.flag-dropdown-caption-label {
  font-size: 11px;
  padding: 0px 10px;
}

.flag-dropdown > .flag-dropdown-caption {
  /* background-color: #f2f2f2; */
  padding: 8px 15px 8px 15px;
  border-radius: 3px;
  cursor: pointer;
  line-height: 25px;
}

.flag-dropdown-caption:after {
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  margin: 4px 5px 0px 0px;
  border-top: 10px solid #a3a4a0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.flag-dropdown > .flag-dropdown-list {
  position: absolute;
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 0 0 3px 3px;
  display: none;
}

.flag-dropdown > .flag-dropdown-list > .flag-dropdown-item {
  padding: 0px 0px 0px 15px;
  cursor: pointer;
  line-height: 25px;
  font-size: 14px;
  /* color: #555b6a; */
}

.flag-dropdown> .flag-dropdown-list > .flag-dropdown-item.selected {
  font-weight: bold;
}

.flag-dropdown > .flag-dropdown-caption:hover,
.flag-dropdown > .flag-dropdown-list > .flag-dropdown-item:hover {
  background-color: rgb(83, 161, 214);
  color: #fff;
}

.flag-dropdown.open > .flag-dropdown-list {
  display: block;
}

.flag-dropdown-img:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  margin-left: -5px;
  margin-right: 5px;
  background-image: url('./assets/flags.png');
  background-repeat: no-repeat;
  background-size: 408px 384px;
  background-position: 0 -24px;
}

.flag-dropdown-img.flag-unknown:before {
  background-position: 0 -24px;
}

.flag-dropdown-img.flag-per:before {
  background-position: -48px -264px;
}

.flag-dropdown-img.flag-deu:before {
  background-position: -144px -96px;
}

.flag-dropdown-img.flag-fin:before {
  background-position: -72px -120px;
}

.flag-dropdown-img.flag-nor:before {
  background-position: -288px -240px;
}

.flag-dropdown-img.flag-can:before {
  background-position: -96px -72px;
}

.flag-dropdown-img.flag-nzl:before {
  background-position: -384px -240px;
}

.flag-dropdown-img.flag-irl:before {
  background-position: -384px -144px;
}

.flag-dropdown-img.flag-alb:before {
  background-position: -168px -24px;
}

.flag-dropdown-img.flag-and:before {
  background-position: -48px -24px;
}

.flag-dropdown-img.flag-atg:before {
  background-position: -120px -24px;
}

.flag-dropdown-img.flag-arg:before {
  background-position: -288px -24px;
}

.flag-dropdown-img.flag-arm:before {
  background-position: -192px -24px;
}

.flag-dropdown-img.flag-aut:before {
  background-position: -336px -24px;
}

.flag-dropdown-img.flag-aze:before {
  background-position: -24px -48px;
}

.flag-dropdown-img.flag-bhs:before {
  background-position: -384px -48px;
}

.flag-dropdown-img.flag-bgd:before {
  background-position: -96px -48px;
}

.flag-dropdown-img.flag-brb:before {
  background-position: -72px -48px;
}

.flag-dropdown-img.flag-blz:before {
  background-position: -72px -72px;
}

.flag-dropdown-img.flag-btn:before {
  background-position: 0 -72px;
}

.flag-dropdown-img.flag-bol:before {
  background-position: -336px -48px;
}

.flag-dropdown-img.flag-bwa:before {
  background-position: -24px -72px;
}

.flag-dropdown-img.flag-bra:before {
  background-position: -360px -48px;
}

.flag-dropdown-img.flag-brn:before {
  background-position: -312px -48px;
}

.flag-dropdown-img.flag-bfa:before {
  background-position: -144px -48px;
}

.flag-dropdown-img.flag-cmr:before {
  background-position: -312px -72px;
}

.flag-dropdown-img.flag-tcd:before {
  background-position: -168px -312px;
}

.flag-dropdown-img.flag-chl:before {
  background-position: -288px -72px;
}

.flag-dropdown-img.flag-col:before {
  background-position: -360px -72px;
}

.flag-dropdown-img.flag-cog:before {
  background-position: -192px -72px;
}

.flag-dropdown-img.flag-cok:before {
  background-position: -264px -72px;
}

.flag-dropdown-img.flag-cri:before {
  background-position: -384px -72px;
}

.flag-dropdown-img.flag-cub:before {
  background-position: 0 -96px;
}

.flag-dropdown-img.flag-dji:before {
  background-position: -168px -96px;
}

.flag-dropdown-img.flag-dma:before {
  background-position: -216px -96px;
}

.flag-dropdown-img.flag-dom:before {
  background-position: -240px -96px;
}

.flag-dropdown-img.flag-ecu:before {
  background-position: -288px -96px;
}

.flag-dropdown-img.flag-slv:before {
  background-position: -72px -312px;
}

.flag-dropdown-img.flag-gnq:before {
  background-position: -48px -144px;
}

.flag-dropdown-img.flag-flk:before {
  background-position: -120px -120px;
}

.flag-dropdown-img.flag-fji:before {
  background-position: -96px -120px;
}

.flag-dropdown-img.flag-gab:before {
  background-position: -216px -120px;
}

.flag-dropdown-img.flag-gmb:before {
  background-position: 0 -144px;
}

.flag-dropdown-img.flag-geo:before {
  background-position: -288px -120px;
}

.flag-dropdown-img.flag-gha:before {
  background-position: -336px -120px;
}

.flag-dropdown-img.flag-grd:before {
  background-position: -264px -120px;
}

.flag-dropdown-img.flag-gtm:before {
  background-position: -120px -144px;
}

.flag-dropdown-img.flag-guy:before {
  background-position: -192px -144px;
}

.flag-dropdown-img.flag-hnd:before {
  background-position: -240px -144px;
}

.flag-dropdown-img.flag-isl:before {
  background-position: -120px -168px;
}

.flag-dropdown-img.flag-ind:before {
  background-position: -48px -168px;
}

.flag-dropdown-img.flag-jam:before {
  background-position: -192px -168px;
}

.flag-dropdown-img.flag-jpn:before {
  background-position: -240px -168px;
}

.flag-dropdown-img.flag-kir:before {
  background-position: -336px -168px;
}

.flag-dropdown-img.flag-kor:before {
  background-position: -24px -192px;
}

.flag-dropdown-img.flag-kgz:before {
  background-position: -288px -168px;
}

.flag-dropdown-img.flag-lso:before {
  background-position: -264px -192px;
}

.flag-dropdown-img.flag-lie:before {
  background-position: -192px -192px;
}

.flag-dropdown-img.flag-lux:before {
  background-position: -312px -192px;
}

.flag-dropdown-img.flag-mac:before {
  background-position: -240px -216px;
}

.flag-dropdown-img.flag-mdg:before {
  background-position: -96px -216px;
}

.flag-dropdown-img.flag-mwi:before {
  background-position: -24px -240px;
}

.flag-dropdown-img.flag-mlt:before {
  background-position: -360px -216px;
}

.flag-dropdown-img.flag-mrt:before {
  background-position: -312px -216px;
}

.flag-dropdown-img.flag-mus:before {
  background-position: -384px -216px;
}

.flag-dropdown-img.flag-mex:before {
  background-position: -48px -240px;
}

.flag-dropdown-img.flag-fsm:before {
  background-position: -144px -120px;
}

.flag-dropdown-img.flag-mco:before {
  background-position: 0 -216px;
}

.flag-dropdown-img.flag-mar:before {
  background-position: -384px -192px;
}

.flag-dropdown-img.flag-nam:before {
  background-position: -120px -240px;
}

.flag-dropdown-img.flag-nru:before {
  background-position: -336px -240px;
}

.flag-dropdown-img.flag-npl:before {
  background-position: -312px -240px;
}

.flag-dropdown-img.flag-ner:before {
  background-position: -168px -240px;
}

.flag-dropdown-img.flag-niu:before {
  background-position: -360px -240px;
}

.flag-dropdown-img.flag-mkd:before {
  background-position: -144px -216px;
}

.flag-dropdown-img.flag-plw:before {
  background-position: -336px -264px;
}

.flag-dropdown-img.flag-pan:before {
  background-position: -24px -264px;
}

.flag-dropdown-img.flag-png:before {
  background-position: -96px -264px;
}

.flag-dropdown-img.flag-pry:before {
  background-position: -360px -264px;
}

.flag-dropdown-img.flag-pol:before {
  background-position: -216px -264px;
}

.flag-dropdown-img.flag-rwa:before {
  background-position: -72px -288px;
}

.flag-dropdown-img.flag-kna:before {
  background-position: -384px -168px;
}

.flag-dropdown-img.flag-lca:before {
  background-position: -168px -192px;
}

.flag-dropdown-img.flag-stp:before {
  background-position: -48px -312px;
}

.flag-dropdown-img.flag-sen:before {
  background-position: -360px -288px;
}

.flag-dropdown-img.flag-syc:before {
  background-position: -144px -288px;
}

.flag-dropdown-img.flag-slb:before {
  background-position: -120px -288px;
}

.flag-dropdown-img.flag-lka:before {
  background-position: -216px -192px;
}

.flag-dropdown-img.flag-sur:before {
  background-position: 0 -312px;
}

.flag-dropdown-img.flag-swz:before {
  background-position: -120px -312px;
}

.flag-dropdown-img.flag-twn:before {
  background-position: -72px -336px;
}

.flag-dropdown-img.flag-tjk:before {
  background-position: -264px -312px;
}

.flag-dropdown-img.flag-tha:before {
  background-position: -240px -312px;
}

.flag-dropdown-img.flag-tls:before {
  background-position: -312px -312px;
}

.flag-dropdown-img.flag-tgo:before {
  background-position: -216px -312px;
}

.flag-dropdown-img.flag-tkl:before {
  background-position: -288px -312px;
}

.flag-dropdown-img.flag-ton:before {
  background-position: -384px -312px;
}

.flag-dropdown-img.flag-tto:before {
  background-position: -24px -336px;
}

.flag-dropdown-img.flag-tuv:before {
  background-position: -48px -336px;
}

.flag-dropdown-img.flag-uga:before {
  background-position: -144px -336px;
}

.flag-dropdown-img.flag-ury:before {
  background-position: -192px -336px;
}

.flag-dropdown-img.flag-uzb:before {
  background-position: -216px -336px;
}

.flag-dropdown-img.flag-vut:before {
  background-position: -384px -336px;
}

.flag-dropdown-img.flag-ala:before {
  background-position: 0 -48px;
}

.flag-dropdown-img.flag-fil-0-col-0:before {
  background-position: -0px -0px;
}
.flag-dropdown-img.flag-fil-0-col-1:before {
  background-position: -24px -0px;
}
.flag-dropdown-img.flag-fil-0-col-2:before {
  background-position: -48px -0px;
}
.flag-dropdown-img.flag-fil-0-col-3:before {
  background-position: -72px -0px;
}
.flag-dropdown-img.flag-fil-0-col-4:before {
  background-position: -96px -0px;
}
.flag-dropdown-img.flag-fil-0-col-5:before {
  background-position: -120px -0px;
}
.flag-dropdown-img.flag-fil-0-col-6:before {
  background-position: -144px -0px;
}
.flag-dropdown-img.flag-fil-0-col-7:before {
  background-position: -168px -0px;
}
.flag-dropdown-img.flag-fil-0-col-8:before {
  background-position: -192px -0px;
}
.flag-dropdown-img.flag-fil-0-col-9:before {
  background-position: -216px -0px;
}
.flag-dropdown-img.flag-fil-0-col-10:before {
  background-position: -240px -0px;
}
.flag-dropdown-img.flag-fil-0-col-11:before {
  background-position: -264px -0px;
}
.flag-dropdown-img.flag-fil-0-col-12:before {
  background-position: -288px -0px;
}
.flag-dropdown-img.flag-fil-0-col-13:before {
  background-position: -312px -0px;
}
.flag-dropdown-img.flag-fil-0-col-14:before {
  background-position: -336px -0px;
}
.flag-dropdown-img.flag-fil-0-col-15:before {
  background-position: -360px -0px;
}
.flag-dropdown-img.flag-fil-0-col-16:before {
  background-position: -384px -0px;
}
.flag-dropdown-img.flag-fil-1-col-0:before {
  background-position: -0px -24px;
}
.flag-dropdown-img.flag-fil-1-col-1:before {
  background-position: -24px -24px;
}
.flag-dropdown-img.flag-fil-1-col-2:before {
  background-position: -48px -24px;
}
.flag-dropdown-img.flag-fil-1-col-3:before {
  background-position: -72px -24px;
}
.flag-dropdown-img.flag-fil-1-col-4:before {
  background-position: -96px -24px;
}
.flag-dropdown-img.flag-fil-1-col-5:before {
  background-position: -120px -24px;
}
.flag-dropdown-img.flag-fil-1-col-6:before {
  background-position: -144px -24px;
}
.flag-dropdown-img.flag-fil-1-col-7:before {
  background-position: -168px -24px;
}
.flag-dropdown-img.flag-fil-1-col-8:before {
  background-position: -192px -24px;
}
.flag-dropdown-img.flag-fil-1-col-9:before {
  background-position: -216px -24px;
}
.flag-dropdown-img.flag-fil-1-col-10:before {
  background-position: -240px -24px;
}
.flag-dropdown-img.flag-fil-1-col-11:before {
  background-position: -264px -24px;
}
.flag-dropdown-img.flag-fil-1-col-12:before {
  background-position: -288px -24px;
}
.flag-dropdown-img.flag-fil-1-col-13:before {
  background-position: -312px -24px;
}
.flag-dropdown-img.flag-fil-1-col-14:before {
  background-position: -336px -24px;
}
.flag-dropdown-img.flag-fil-1-col-15:before {
  background-position: -360px -24px;
}
.flag-dropdown-img.flag-fil-1-col-16:before {
  background-position: -384px -24px;
}
.flag-dropdown-img.flag-fil-2-col-0:before {
  background-position: -0px -48px;
}
.flag-dropdown-img.flag-fil-2-col-1:before {
  background-position: -24px -48px;
}
.flag-dropdown-img.flag-fil-2-col-2:before {
  background-position: -48px -48px;
}
.flag-dropdown-img.flag-fil-2-col-3:before {
  background-position: -72px -48px;
}
.flag-dropdown-img.flag-fil-2-col-4:before {
  background-position: -96px -48px;
}
.flag-dropdown-img.flag-fil-2-col-5:before {
  background-position: -120px -48px;
}
.flag-dropdown-img.flag-fil-2-col-6:before {
  background-position: -144px -48px;
}
.flag-dropdown-img.flag-fil-2-col-7:before {
  background-position: -168px -48px;
}
.flag-dropdown-img.flag-fil-2-col-8:before {
  background-position: -192px -48px;
}
.flag-dropdown-img.flag-fil-2-col-9:before {
  background-position: -216px -48px;
}
.flag-dropdown-img.flag-fil-2-col-10:before {
  background-position: -240px -48px;
}
.flag-dropdown-img.flag-fil-2-col-11:before {
  background-position: -264px -48px;
}
.flag-dropdown-img.flag-fil-2-col-12:before {
  background-position: -288px -48px;
}
.flag-dropdown-img.flag-fil-2-col-13:before {
  background-position: -312px -48px;
}
.flag-dropdown-img.flag-fil-2-col-14:before {
  background-position: -336px -48px;
}
.flag-dropdown-img.flag-fil-2-col-15:before {
  background-position: -360px -48px;
}
.flag-dropdown-img.flag-fil-2-col-16:before {
  background-position: -384px -48px;
}
.flag-dropdown-img.flag-fil-3-col-0:before {
  background-position: -0px -72px;
}
.flag-dropdown-img.flag-fil-3-col-1:before {
  background-position: -24px -72px;
}
.flag-dropdown-img.flag-fil-3-col-2:before {
  background-position: -48px -72px;
}
.flag-dropdown-img.flag-fil-3-col-3:before {
  background-position: -72px -72px;
}
.flag-dropdown-img.flag-fil-3-col-4:before {
  background-position: -96px -72px;
}
.flag-dropdown-img.flag-fil-3-col-5:before {
  background-position: -120px -72px;
}
.flag-dropdown-img.flag-fil-3-col-6:before {
  background-position: -144px -72px;
}
.flag-dropdown-img.flag-fil-3-col-7:before {
  background-position: -168px -72px;
}
.flag-dropdown-img.flag-fil-3-col-8:before {
  background-position: -192px -72px;
}
.flag-dropdown-img.flag-fil-3-col-9:before {
  background-position: -216px -72px;
}
.flag-dropdown-img.flag-fil-3-col-10:before {
  background-position: -240px -72px;
}
.flag-dropdown-img.flag-fil-3-col-11:before {
  background-position: -264px -72px;
}
.flag-dropdown-img.flag-fil-3-col-12:before {
  background-position: -288px -72px;
}
.flag-dropdown-img.flag-fil-3-col-13:before {
  background-position: -312px -72px;
}
.flag-dropdown-img.flag-fil-3-col-14:before {
  background-position: -336px -72px;
}
.flag-dropdown-img.flag-fil-3-col-15:before {
  background-position: -360px -72px;
}
.flag-dropdown-img.flag-fil-3-col-16:before {
  background-position: -384px -72px;
}
.flag-dropdown-img.flag-fil-4-col-0:before {
  background-position: -0px -96px;
}
.flag-dropdown-img.flag-fil-4-col-1:before {
  background-position: -24px -96px;
}
.flag-dropdown-img.flag-fil-4-col-2:before {
  background-position: -48px -96px;
}
.flag-dropdown-img.flag-fil-4-col-3:before {
  background-position: -72px -96px;
}
.flag-dropdown-img.flag-fil-4-col-4:before {
  background-position: -96px -96px;
}
.flag-dropdown-img.flag-fil-4-col-5:before {
  background-position: -120px -96px;
}
.flag-dropdown-img.flag-fil-4-col-6:before {
  background-position: -144px -96px;
}
.flag-dropdown-img.flag-fil-4-col-7:before {
  background-position: -168px -96px;
}
.flag-dropdown-img.flag-fil-4-col-8:before {
  background-position: -192px -96px;
}
.flag-dropdown-img.flag-fil-4-col-9:before {
  background-position: -216px -96px;
}
.flag-dropdown-img.flag-fil-4-col-10:before {
  background-position: -240px -96px;
}
.flag-dropdown-img.flag-fil-4-col-11:before {
  background-position: -264px -96px;
}
.flag-dropdown-img.flag-fil-4-col-12:before {
  background-position: -288px -96px;
}
.flag-dropdown-img.flag-fil-4-col-13:before {
  background-position: -312px -96px;
}
.flag-dropdown-img.flag-fil-4-col-14:before {
  background-position: -336px -96px;
}
.flag-dropdown-img.flag-fil-4-col-15:before {
  background-position: -360px -96px;
}
.flag-dropdown-img.flag-fil-4-col-16:before {
  background-position: -384px -96px;
}
.flag-dropdown-img.flag-fil-5-col-0:before {
  background-position: -0px -120px;
}
.flag-dropdown-img.flag-fil-5-col-1:before {
  background-position: -24px -120px;
}
.flag-dropdown-img.flag-fil-5-col-2:before {
  background-position: -48px -120px;
}
.flag-dropdown-img.flag-fil-5-col-3:before {
  background-position: -72px -120px;
}
.flag-dropdown-img.flag-fil-5-col-4:before {
  background-position: -96px -120px;
}
.flag-dropdown-img.flag-fil-5-col-5:before {
  background-position: -120px -120px;
}
.flag-dropdown-img.flag-fil-5-col-6:before {
  background-position: -144px -120px;
}
.flag-dropdown-img.flag-fil-5-col-7:before {
  background-position: -168px -120px;
}
.flag-dropdown-img.flag-fil-5-col-8:before {
  background-position: -192px -120px;
}
.flag-dropdown-img.flag-fil-5-col-9:before {
  background-position: -216px -120px;
}
.flag-dropdown-img.flag-fil-5-col-10:before {
  background-position: -240px -120px;
}
.flag-dropdown-img.flag-fil-5-col-11:before {
  background-position: -264px -120px;
}
.flag-dropdown-img.flag-fil-5-col-12:before {
  background-position: -288px -120px;
}
.flag-dropdown-img.flag-fil-5-col-13:before {
  background-position: -312px -120px;
}
.flag-dropdown-img.flag-fil-5-col-14:before {
  background-position: -336px -120px;
}
.flag-dropdown-img.flag-fil-5-col-15:before {
  background-position: -360px -120px;
}
.flag-dropdown-img.flag-fil-5-col-16:before {
  background-position: -384px -120px;
}
.flag-dropdown-img.flag-fil-6-col-0:before {
  background-position: -0px -144px;
}
.flag-dropdown-img.flag-fil-6-col-1:before {
  background-position: -24px -144px;
}
.flag-dropdown-img.flag-fil-6-col-2:before {
  background-position: -48px -144px;
}
.flag-dropdown-img.flag-fil-6-col-3:before {
  background-position: -72px -144px;
}
.flag-dropdown-img.flag-fil-6-col-4:before {
  background-position: -96px -144px;
}
.flag-dropdown-img.flag-fil-6-col-5:before {
  background-position: -120px -144px;
}
.flag-dropdown-img.flag-fil-6-col-6:before {
  background-position: -144px -144px;
}
.flag-dropdown-img.flag-fil-6-col-7:before {
  background-position: -168px -144px;
}
.flag-dropdown-img.flag-fil-6-col-8:before {
  background-position: -192px -144px;
}
.flag-dropdown-img.flag-fil-6-col-9:before {
  background-position: -216px -144px;
}
.flag-dropdown-img.flag-fil-6-col-10:before {
  background-position: -240px -144px;
}
.flag-dropdown-img.flag-fil-6-col-11:before {
  background-position: -264px -144px;
}
.flag-dropdown-img.flag-fil-6-col-12:before {
  background-position: -288px -144px;
}
.flag-dropdown-img.flag-fil-6-col-13:before {
  background-position: -312px -144px;
}
.flag-dropdown-img.flag-fil-6-col-14:before {
  background-position: -336px -144px;
}
.flag-dropdown-img.flag-fil-6-col-15:before {
  background-position: -360px -144px;
}
.flag-dropdown-img.flag-fil-6-col-16:before {
  background-position: -384px -144px;
}
.flag-dropdown-img.flag-fil-7-col-0:before {
  background-position: -0px -168px;
}
.flag-dropdown-img.flag-fil-7-col-1:before {
  background-position: -24px -168px;
}
.flag-dropdown-img.flag-fil-7-col-2:before {
  background-position: -48px -168px;
}
.flag-dropdown-img.flag-fil-7-col-3:before {
  background-position: -72px -168px;
}
.flag-dropdown-img.flag-fil-7-col-4:before {
  background-position: -96px -168px;
}
.flag-dropdown-img.flag-fil-7-col-5:before {
  background-position: -120px -168px;
}
.flag-dropdown-img.flag-fil-7-col-6:before {
  background-position: -144px -168px;
}
.flag-dropdown-img.flag-fil-7-col-7:before {
  background-position: -168px -168px;
}
.flag-dropdown-img.flag-fil-7-col-8:before {
  background-position: -192px -168px;
}
.flag-dropdown-img.flag-fil-7-col-9:before {
  background-position: -216px -168px;
}
.flag-dropdown-img.flag-fil-7-col-10:before {
  background-position: -240px -168px;
}
.flag-dropdown-img.flag-fil-7-col-11:before {
  background-position: -264px -168px;
}
.flag-dropdown-img.flag-fil-7-col-12:before {
  background-position: -288px -168px;
}
.flag-dropdown-img.flag-fil-7-col-13:before {
  background-position: -312px -168px;
}
.flag-dropdown-img.flag-fil-7-col-14:before {
  background-position: -336px -168px;
}
.flag-dropdown-img.flag-fil-7-col-15:before {
  background-position: -360px -168px;
}
.flag-dropdown-img.flag-fil-7-col-16:before {
  background-position: -384px -168px;
}
.flag-dropdown-img.flag-fil-8-col-0:before {
  background-position: -0px -192px;
}
.flag-dropdown-img.flag-fil-8-col-1:before {
  background-position: -24px -192px;
}
.flag-dropdown-img.flag-fil-8-col-2:before {
  background-position: -48px -192px;
}
.flag-dropdown-img.flag-fil-8-col-3:before {
  background-position: -72px -192px;
}
.flag-dropdown-img.flag-fil-8-col-4:before {
  background-position: -96px -192px;
}
.flag-dropdown-img.flag-fil-8-col-5:before {
  background-position: -120px -192px;
}
.flag-dropdown-img.flag-fil-8-col-6:before {
  background-position: -144px -192px;
}
.flag-dropdown-img.flag-fil-8-col-7:before {
  background-position: -168px -192px;
}
.flag-dropdown-img.flag-fil-8-col-8:before {
  background-position: -192px -192px;
}
.flag-dropdown-img.flag-fil-8-col-9:before {
  background-position: -216px -192px;
}
.flag-dropdown-img.flag-fil-8-col-10:before {
  background-position: -240px -192px;
}
.flag-dropdown-img.flag-fil-8-col-11:before {
  background-position: -264px -192px;
}
.flag-dropdown-img.flag-fil-8-col-12:before {
  background-position: -288px -192px;
}
.flag-dropdown-img.flag-fil-8-col-13:before {
  background-position: -312px -192px;
}
.flag-dropdown-img.flag-fil-8-col-14:before {
  background-position: -336px -192px;
}
.flag-dropdown-img.flag-fil-8-col-15:before {
  background-position: -360px -192px;
}
.flag-dropdown-img.flag-fil-8-col-16:before {
  background-position: -384px -192px;
}
.flag-dropdown-img.flag-fil-9-col-0:before {
  background-position: -0px -216px;
}
.flag-dropdown-img.flag-fil-9-col-1:before {
  background-position: -24px -216px;
}
.flag-dropdown-img.flag-fil-9-col-2:before {
  background-position: -48px -216px;
}
.flag-dropdown-img.flag-fil-9-col-3:before {
  background-position: -72px -216px;
}
.flag-dropdown-img.flag-fil-9-col-4:before {
  background-position: -96px -216px;
}
.flag-dropdown-img.flag-fil-9-col-5:before {
  background-position: -120px -216px;
}
.flag-dropdown-img.flag-fil-9-col-6:before {
  background-position: -144px -216px;
}
.flag-dropdown-img.flag-fil-9-col-7:before {
  background-position: -168px -216px;
}
.flag-dropdown-img.flag-fil-9-col-8:before {
  background-position: -192px -216px;
}
.flag-dropdown-img.flag-fil-9-col-9:before {
  background-position: -216px -216px;
}
.flag-dropdown-img.flag-fil-9-col-10:before {
  background-position: -240px -216px;
}
.flag-dropdown-img.flag-fil-9-col-11:before {
  background-position: -264px -216px;
}
.flag-dropdown-img.flag-fil-9-col-12:before {
  background-position: -288px -216px;
}
.flag-dropdown-img.flag-fil-9-col-13:before {
  background-position: -312px -216px;
}
.flag-dropdown-img.flag-fil-9-col-14:before {
  background-position: -336px -216px;
}
.flag-dropdown-img.flag-fil-9-col-15:before {
  background-position: -360px -216px;
}
.flag-dropdown-img.flag-fil-9-col-16:before {
  background-position: -384px -216px;
}
.flag-dropdown-img.flag-fil-10-col-0:before {
  background-position: -0px -240px;
}
.flag-dropdown-img.flag-fil-10-col-1:before {
  background-position: -24px -240px;
}
.flag-dropdown-img.flag-fil-10-col-2:before {
  background-position: -48px -240px;
}
.flag-dropdown-img.flag-fil-10-col-3:before {
  background-position: -72px -240px;
}
.flag-dropdown-img.flag-fil-10-col-4:before {
  background-position: -96px -240px;
}
.flag-dropdown-img.flag-fil-10-col-5:before {
  background-position: -120px -240px;
}
.flag-dropdown-img.flag-fil-10-col-6:before {
  background-position: -144px -240px;
}
.flag-dropdown-img.flag-fil-10-col-7:before {
  background-position: -168px -240px;
}
.flag-dropdown-img.flag-fil-10-col-8:before {
  background-position: -192px -240px;
}
.flag-dropdown-img.flag-fil-10-col-9:before {
  background-position: -216px -240px;
}
.flag-dropdown-img.flag-fil-10-col-10:before {
  background-position: -240px -240px;
}
.flag-dropdown-img.flag-fil-10-col-11:before {
  background-position: -264px -240px;
}
.flag-dropdown-img.flag-fil-10-col-12:before {
  background-position: -288px -240px;
}
.flag-dropdown-img.flag-fil-10-col-13:before {
  background-position: -312px -240px;
}
.flag-dropdown-img.flag-fil-10-col-14:before {
  background-position: -336px -240px;
}
.flag-dropdown-img.flag-fil-10-col-15:before {
  background-position: -360px -240px;
}
.flag-dropdown-img.flag-fil-10-col-16:before {
  background-position: -384px -240px;
}
.flag-dropdown-img.flag-fil-11-col-0:before {
  background-position: -0px -264px;
}
.flag-dropdown-img.flag-fil-11-col-1:before {
  background-position: -24px -264px;
}
.flag-dropdown-img.flag-fil-11-col-2:before {
  background-position: -48px -264px;
}
.flag-dropdown-img.flag-fil-11-col-3:before {
  background-position: -72px -264px;
}
.flag-dropdown-img.flag-fil-11-col-4:before {
  background-position: -96px -264px;
}
.flag-dropdown-img.flag-fil-11-col-5:before {
  background-position: -120px -264px;
}
.flag-dropdown-img.flag-fil-11-col-6:before {
  background-position: -144px -264px;
}
.flag-dropdown-img.flag-fil-11-col-7:before {
  background-position: -168px -264px;
}
.flag-dropdown-img.flag-fil-11-col-8:before {
  background-position: -192px -264px;
}
.flag-dropdown-img.flag-fil-11-col-9:before {
  background-position: -216px -264px;
}
.flag-dropdown-img.flag-fil-11-col-10:before {
  background-position: -240px -264px;
}
.flag-dropdown-img.flag-fil-11-col-11:before {
  background-position: -264px -264px;
}
.flag-dropdown-img.flag-fil-11-col-12:before {
  background-position: -288px -264px;
}
.flag-dropdown-img.flag-fil-11-col-13:before {
  background-position: -312px -264px;
}
.flag-dropdown-img.flag-fil-11-col-14:before {
  background-position: -336px -264px;
}
.flag-dropdown-img.flag-fil-11-col-15:before {
  background-position: -360px -264px;
}
.flag-dropdown-img.flag-fil-11-col-16:before {
  background-position: -384px -264px;
}
.flag-dropdown-img.flag-fil-12-col-0:before {
  background-position: -0px -288px;
}
.flag-dropdown-img.flag-fil-12-col-1:before {
  background-position: -24px -288px;
}
.flag-dropdown-img.flag-fil-12-col-2:before {
  background-position: -48px -288px;
}
.flag-dropdown-img.flag-fil-12-col-3:before {
  background-position: -72px -288px;
}
.flag-dropdown-img.flag-fil-12-col-4:before {
  background-position: -96px -288px;
}
.flag-dropdown-img.flag-fil-12-col-5:before {
  background-position: -120px -288px;
}
.flag-dropdown-img.flag-fil-12-col-6:before {
  background-position: -144px -288px;
}
.flag-dropdown-img.flag-fil-12-col-7:before {
  background-position: -168px -288px;
}
.flag-dropdown-img.flag-fil-12-col-8:before {
  background-position: -192px -288px;
}
.flag-dropdown-img.flag-fil-12-col-9:before {
  background-position: -216px -288px;
}
.flag-dropdown-img.flag-fil-12-col-10:before {
  background-position: -240px -288px;
}
.flag-dropdown-img.flag-fil-12-col-11:before {
  background-position: -264px -288px;
}
.flag-dropdown-img.flag-fil-12-col-12:before {
  background-position: -288px -288px;
}
.flag-dropdown-img.flag-fil-12-col-13:before {
  background-position: -312px -288px;
}
.flag-dropdown-img.flag-fil-12-col-14:before {
  background-position: -336px -288px;
}
.flag-dropdown-img.flag-fil-12-col-15:before {
  background-position: -360px -288px;
}
.flag-dropdown-img.flag-fil-12-col-16:before {
  background-position: -384px -288px;
}
.flag-dropdown-img.flag-fil-13-col-0:before {
  background-position: -0px -312px;
}
.flag-dropdown-img.flag-fil-13-col-1:before {
  background-position: -24px -312px;
}
.flag-dropdown-img.flag-fil-13-col-2:before {
  background-position: -48px -312px;
}
.flag-dropdown-img.flag-fil-13-col-3:before {
  background-position: -72px -312px;
}
.flag-dropdown-img.flag-fil-13-col-4:before {
  background-position: -96px -312px;
}
.flag-dropdown-img.flag-fil-13-col-5:before {
  background-position: -120px -312px;
}
.flag-dropdown-img.flag-fil-13-col-6:before {
  background-position: -144px -312px;
}
.flag-dropdown-img.flag-fil-13-col-7:before {
  background-position: -168px -312px;
}
.flag-dropdown-img.flag-fil-13-col-8:before {
  background-position: -192px -312px;
}
.flag-dropdown-img.flag-fil-13-col-9:before {
  background-position: -216px -312px;
}
.flag-dropdown-img.flag-fil-13-col-10:before {
  background-position: -240px -312px;
}
.flag-dropdown-img.flag-fil-13-col-11:before {
  background-position: -264px -312px;
}
.flag-dropdown-img.flag-fil-13-col-12:before {
  background-position: -288px -312px;
}
.flag-dropdown-img.flag-fil-13-col-13:before {
  background-position: -312px -312px;
}
.flag-dropdown-img.flag-fil-13-col-14:before {
  background-position: -336px -312px;
}
.flag-dropdown-img.flag-fil-13-col-15:before {
  background-position: -360px -312px;
}
.flag-dropdown-img.flag-fil-13-col-16:before {
  background-position: -384px -312px;
}
.flag-dropdown-img.flag-fil-14-col-0:before {
  background-position: -0px -336px;
}
.flag-dropdown-img.flag-fil-14-col-1:before {
  background-position: -24px -336px;
}
.flag-dropdown-img.flag-fil-14-col-2:before {
  background-position: -48px -336px;
}
.flag-dropdown-img.flag-fil-14-col-3:before {
  background-position: -72px -336px;
}
.flag-dropdown-img.flag-fil-14-col-4:before {
  background-position: -96px -336px;
}
.flag-dropdown-img.flag-fil-14-col-5:before {
  background-position: -120px -336px;
}
.flag-dropdown-img.flag-fil-14-col-6:before {
  background-position: -144px -336px;
}
.flag-dropdown-img.flag-fil-14-col-7:before {
  background-position: -168px -336px;
}
.flag-dropdown-img.flag-fil-14-col-8:before {
  background-position: -192px -336px;
}
.flag-dropdown-img.flag-fil-14-col-9:before {
  background-position: -216px -336px;
}
.flag-dropdown-img.flag-fil-14-col-10:before {
  background-position: -240px -336px;
}
.flag-dropdown-img.flag-fil-14-col-11:before {
  background-position: -264px -336px;
}
.flag-dropdown-img.flag-fil-14-col-12:before {
  background-position: -288px -336px;
}
.flag-dropdown-img.flag-fil-14-col-13:before {
  background-position: -312px -336px;
}
.flag-dropdown-img.flag-fil-14-col-14:before {
  background-position: -336px -336px;
}
.flag-dropdown-img.flag-fil-14-col-15:before {
  background-position: -360px -336px;
}
.flag-dropdown-img.flag-fil-14-col-16:before {
  background-position: -384px -336px;
}
.flag-dropdown-img.flag-fil-15-col-0:before {
  background-position: -0px -360px;
}
.flag-dropdown-img.flag-fil-15-col-1:before {
  background-position: -24px -360px;
}
.flag-dropdown-img.flag-fil-15-col-2:before {
  background-position: -48px -360px;
}
.flag-dropdown-img.flag-fil-15-col-3:before {
  background-position: -72px -360px;
}
.flag-dropdown-img.flag-fil-15-col-4:before {
  background-position: -96px -360px;
}
.flag-dropdown-img.flag-fil-15-col-5:before {
  background-position: -120px -360px;
}
.flag-dropdown-img.flag-fil-15-col-6:before {
  background-position: -144px -360px;
}
.flag-dropdown-img.flag-fil-15-col-7:before {
  background-position: -168px -360px;
}
.flag-dropdown-img.flag-fil-15-col-8:before {
  background-position: -192px -360px;
}
.flag-dropdown-img.flag-fil-15-col-9:before {
  background-position: -216px -360px;
}
.flag-dropdown-img.flag-fil-15-col-10:before {
  background-position: -240px -360px;
}
.flag-dropdown-img.flag-fil-15-col-11:before {
  background-position: -264px -360px;
}
.flag-dropdown-img.flag-fil-15-col-12:before {
  background-position: -288px -360px;
}
.flag-dropdown-img.flag-fil-15-col-13:before {
  background-position: -312px -360px;
}
.flag-dropdown-img.flag-fil-15-col-14:before {
  background-position: -336px -360px;
}
.flag-dropdown-img.flag-fil-15-col-15:before {
  background-position: -360px -360px;
}
.flag-dropdown-img.flag-fil-15-col-16:before {
  background-position: -384px -360px;
}
.flag-dropdown-img.flag-fil-16-col-0:before {
  background-position: -0px -384px;
}
.flag-dropdown-img.flag-fil-16-col-1:before {
  background-position: -24px -384px;
}
.flag-dropdown-img.flag-fil-16-col-2:before {
  background-position: -48px -384px;
}
.flag-dropdown-img.flag-fil-16-col-3:before {
  background-position: -72px -384px;
}
.flag-dropdown-img.flag-fil-16-col-4:before {
  background-position: -96px -384px;
}
.flag-dropdown-img.flag-fil-16-col-5:before {
  background-position: -120px -384px;
}
.flag-dropdown-img.flag-fil-16-col-6:before {
  background-position: -144px -384px;
}
.flag-dropdown-img.flag-fil-16-col-7:before {
  background-position: -168px -384px;
}
.flag-dropdown-img.flag-fil-16-col-8:before {
  background-position: -192px -384px;
}
.flag-dropdown-img.flag-fil-16-col-9:before {
  background-position: -216px -384px;
}
.flag-dropdown-img.flag-fil-16-col-10:before {
  background-position: -240px -384px;
}
.flag-dropdown-img.flag-fil-16-col-11:before {
  background-position: -264px -384px;
}
.flag-dropdown-img.flag-fil-16-col-12:before {
  background-position: -288px -384px;
}
.flag-dropdown-img.flag-fil-16-col-13:before {
  background-position: -312px -384px;
}
.flag-dropdown-img.flag-fil-16-col-14:before {
  background-position: -336px -384px;
}
.flag-dropdown-img.flag-fil-16-col-15:before {
  background-position: -360px -384px;
}
.flag-dropdown-img.flag-fil-16-col-16:before {
  background-position: -384px -384px;
}
